---
import Layout from "../layouts/Layout.astro";
import { MugenCore } from "@mugen/core";
import { Foo } from "../components/Foo";
---

<Layout title="Welcome to Astro.">
    <Foo />
    <main class="bg-primary">
        <p>Welcome to Astro.</p>
    </main>
</Layout>
